/*
blue:#2eb5c6;

gris:#262626;
vertCLair:#9ec231;
vertFonce:#1a8d41;

bordeauxNav: #9d2378;
bleuFonce:#3c3082
roseFonce:#e73082
yellow:#fcee37
rose clair:#fac7c1
brun:#a26438
orange:#f79520
red:#e32526
kaki:#474a2f
red foncé:#9e3927
*/
html{
	box-sizing: border-box;
    
}
*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}



html {
	font-family: 'Fredoka One', cursive;
	color: #e32526 ;
/*	color:#e73082;*/
/*	background-color: #262626;*/
    background-color: #fff;
    overflow-x: hidden;  !important

}
body{
    overflow-x: hidden;  !important
}


/*
html.at-loaded, html.at-loaded * {
    cursor: none !important;
}
*/

body{
	cursor: url(../assets/rondRouge.png), pointer;
    
	
}

h1{
    display:none;
}

a:link{
	cursor: url(../assets/rondOrange.png), pointer;
}

/*la mesure des rows*/
.wrapper{
	position: relative;
    width: 100vw;
/*    height: 100vh;*/
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 15vh 85vh 100vh  100vh 100vh 100vh 100px 590px 60px 500px 80px 99vh 1vh ;
    overflow-x: hidden;  !important
}
/*<!--1er rang	g-->*/
.header{
	grid-column: span 6;
	display: flex;
	justify-content: space-between;
}

 .header button {
                align-self: flex-start;
                padding: 10px;
                background-color: transparent;
/*
                border: 3px solid #000;
                border-radius: 5px; 
*/
}

.logo{
	display: block;
	margin-top: 8vh;
	margin-left: 100px;
	width: 100%;
	background: url(../assets/Fr.svg);
	background-repeat: no-repeat;
	opacity: 1;
}

.logo:hover{
	opacity: 0.8;
}
/*<!--1er rang	dr-->*/
.hamburger{
	grid-column: span 6;
	display: flex;
	justify-content: flex-end;
}
	
.menu, .content{
	grid-column: span 6;
	font-size: 40px;
    display: flex;

}
/*
.name2 img{
	resize: 50%;
}
*/

.hamburger img{
	width: 100%;
    float: right;
	clear: both;
    position: relative;
	padding-top: 30px;
    padding-right: 88px;
    opacity: 1;
}
.footer img{
    position: absolute;
    padding-left: 50px;
    padding-top: -50px;
}
	
.hamburger img:hover{
	opacity: 0.75;
}

#intro{
	position: relative;
	display: block;
	align-self: center;
	margin-left: 13vw;
	width: auto;
    height: 74%;
    width: 74%;
	overflow: visible;
}
	
#intro a{
	position: absolute;
	transform: rotate(180deg);
	font-family: 'Nunito', sans-serif;
	font-size: 26px;
	color:#3c3082;
	opacity: 1;
	writing-mode: vertical-rl;
	margin-top: 70px;
<<<<<<< HEAD
	margin-right: 590px; 
=======
	margin-right: 590px;
>>>>>>> 9edf8bf27cc2b3dc92726d21c26a384402410be2
	margin-left: -50px;
    
}

#intro img{
	position: absolute;
	width: 110%;
	height: 100%;
}

#intro a:hover{
	color:  #9d2378;
	opacity: 1;
}

#section0 > nav{
	font-size: 30px;
	line-height: 155%;
	text-align: justify;
}

#section0 a{
	color: #2eb5c6;
/*    color: #c02511;*/
/*		color:#e73082;*/
}
    
#section0 a:hover{
    color: #9ec231;
}  
h3{
	font-size: 76.8px;
	color: #2eb5c6;
    margin: 0;
/*	color: #e73082;*/
}
h2{
	font-size: 76.8px;
	color: #2eb5c6;
	opacity: 1;
}
   
    

/*----------------ligne-----------*/
.underline{
	position: absolute;
	width: 605px;
	height: 40px;
/*	background-color: #e32526;*/
	background-color: #9ec231;
	margin-top: -33px;
    margin-left: -50px;
	z-index: -5;
}
.underline3a{
	position: absolute;
	width: 580px;
	height: 40px;
/*	background-color: #e32526;*/
	background-color: #9ec231;
	margin-top: -33px;
	margin-left: -35px;
	z-index: -5;
}
    


.underlineBis{
	position: absolute;
	width: 590px;
	height: 40px;
	background-color: #9ec231;
	margin-top: 63px;
	z-index: -5;
}

.underline2{
	position: absolute;
	width: 400px;
	height: 40px;
	background-color: #e32526;
	margin-top: -35px;
    margin-left:-88px;
	z-index: -5;
}

.underline2Bis{
	position: absolute;
	width: 610px;
	height: 40px;
	background-color: #e32526;
	margin-top: -125px;
	margin-left: -50px;
	z-index: -5;
}
.underline3{
	position: absolute;
	width: 610px;
	height: 40px;
	background-color: #e32526;
	margin-top: -35px;
	margin-left: -50px;
	z-index: -5;
}
.underline4{
	position: absolute;
	width: 430px;
	height: 40px;
	background-color: #e32526;
	margin-top: -35px;
	margin-left: -30px;
	z-index: -5;
}
	
#section1 > nav{
	font-size: 25px;
    margin-right: 80px;
	font-family: 'Nunito', sans-serif;
}
	
#design > ul{
	font-size: 20px;
}

#section3 > nav{
	font-size: 23px;
    margin-right: 80px;
    line-height: 138%;
}
	

#section1 li,#section3 li,#section2 li, #section4 li {
    list-style-type: none;
    font-weight: 300;
	font-family: 'Nunito', sans-serif;
}
    
#section4 > nav{
	font-size: 25px;
    margin-left: 80px;
}

#section5 > li{
	font-size: 24px;
    font-weight: 300;
	font-family: 'Nunito', sans-serif;
}


#section2{
	display: flex;
    justify-content: center;
    line-height: 90%;
}	
#section2 li{
	font-size: 30px;
}

#design h4{
    text-align: justify;
    padding-bottom: 20px;
}

#section4 h4{
    text-align: center;
}
#section4 nav{
    text-align: center;
    line-height: 125%;
}
#design{
    text-align:justify;
    padding: 50px;
}

a{
    text-decoration: none;
    color: #e32526;
}
.content li{
	list-style-type: none;
/*	color: #9e3927;*/
	color: #e32526;
}
section0 .content li{
/*	list-style-type: none;*/
	color: #9e3927;
/*	color: #e32526;*/
}

hr{
visibility: hidden;
   height: 15px;
}
/*
.content li :hover,.hamburger :hover,.header :hover,.menu li :hover{
	color: #9ec231;
}
*/

.content{
	grid-column: span 6;
}

.footer{
	display: flex;
	grid-column: span 12;
    
    opacity: 0.9;
}
	
.menu,.content,.skills{
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
/*	border: 1px solid white; */
}
.portfolio{
	display: flex;
	grid-column: span 12;
	justify-content: center;
}

.gallerie, .gallerie2{
	position: relative;
	display: flex;
	grid-column: span 12;
	justify-content:center;
    align-items: center;
	overflow: hidden;
    margin-bottom: 30px;
	
}

#g1, #g2, #g3{
	width: 300px;
	height: 490px;
	border: 2px solid red;
	margin: 2%;
}
#g1 img, #g2 img, #g3 img{
	width: 100%;
	height: 100%;
}

#g4, #g5{
	width: 580px;
	height: 350px;
	border: 2px solid red;
	margin: 2%;
}

#g4 img, #g5 img{
	width: 100%;
	height: 100%;
}
.museeTitre{
	display: flex;
    grid-column: span 12;
	justify-content: center;
	
}
	
.museeTitre p{
	font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin-left: 50px;
    margin-right: 50px;
	
}
.museeTitre a{
   padding-left: 690px;
/*	visibility: hidden;*/
}
.gallerie div a{
	padding-left: 50px;
}

.footer li{
	list-style-type: none;
/*	color: #fff;*/
	
}
#container {
  position: absolute;
  
/*    définit la taille du conteneur et des éléments dedans*/
  height: 40vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  display: block;
  position: absolute;
    background-image: url(../assets/oeilTRAIT4.svg);
  height: 25% !important;
  width: 25% !important;
}
  
span{
/*  color: #a26438 ;*/
/*  color: #f79520 ;*/
	color: #262626;
/*	color: #fff;*/
    opacity: 1;
/*color:#3c3082;*/
/*	color:#e73082;*/
}
#section6 > nav{
	font-size: 25px;
    margin-right: 80px;
	font-family: 'Nunito', sans-serif;
	line-height: 130%;
	
}
#flhaut{
	align-self: flex-start;
	position: absolute;
	margin-right: -500px;
	padding-top: 30px;
	
}
#flbas{
	align-self: flex-end;
	position: absolute;
	margin-right: -522px;
	padding-bottom: 30px;
}

#section6 a:hover{
    color: #262626;
}
#section6 img{
	width: 50px;
    height: auto;
	padding-right: 20px;
}

#section1a, #section2a, #section3a, #section4a, #section6a {
    display: flex;
}

/*--------------version mobile---------------*/
@media (max-width : 415px) {

body{ -webkit-text-size-adjust:100%; }
	
.menu, .content, .header{
	grid-column: span 12;
	font-size: 20px;
} 

.hamburger{
		display: none;
	}
	    
.header{
	grid-column: span 12;
	display: flex;
	width: 160%;
	height: 160%;
	margin-left: -60px;
}
.logo{
opacity: 1;
	}

#intro{
	padding: 5%;
	height: 80%;
	width: 80%;
	margin-right: 0;
	margin-left: 0;
}

.logo{
	width: 15%;	
}

.wrapper{
	width: auto;
	grid-template-columns: auto;
	grid-template-rows:  50px 350px 300px 160px 260px 130px 360px 160px 400px 300px 260px 150px auto 180px auto 300px 100px 550px 20px;
/*
    overflow-x: hidden !important;
    overflow-y: hidden !important;
*/

	grid-template-areas: 
                    "a"   
		 			"b"
					"c"
                    "d"
					"e"   
		 			"f"
					"g"
		 			"h"
					"i"
		 			"j"
		 			"k"
		 			"l"
		 			"m"
		 			"n"
		 			"o"
		 			"p"
					"q"
		 			"r"
					"s"
					"t";
}

	.header{
		grid-area: a;
		}
	#intro{
		grid: b;
	}
	
	#section0{
    grid-area: c;
	
	}

	#section1a{
		grid-area: d;
	}
	#section1{
		grid-area: e;
	}
	#section2a{
		grid-area:f;
	}
	#section2{
		grid-area:g;
	}
	#section3a{
		grid-area:h;
	}
	#section3{
		grid-area:i;
	}
	#section4a{
		grid-area:j;
	}
	#section4{
		grid-area: k;
	}
	#section5{
		grid-area: l;
	}	
	.gallerie{
		grid-area: m;
	}
	.mt1{
		grid-area: n;
	}
	#gallerie2{
		grid-area: o;
	}
	.mt2{
		grid-area: p;
	}
	#section6a{
		grid-area: q;
	}
	#section6{
		grid-area: r;
		
	}
	#section7{
		grid-area: s;
	}
		
#intro a{
	display: none;
}
h3{
	font-size: 46.8px;
}
h2{
	font-size: 46.8px;
}
		
.underline{
	position: absolute;
	width: 350px;
	height: 25px;
/*	background-color: #e32526;*/
	background-color: #9ec231;
	margin-top:-15px;
    margin-left: 0px;
    margin-left: -20px;
	z-index: -5;
}
.underline3a{
	position: absolute;
	width: 360px;
	height: 25px;
/*	background-color: #e32526;*/
	background-color: #9ec231;
	margin-top: -20px;
	z-index: -5;
}
    .underlineBis{
	position: absolute;
	width: 300px;
	height: 25px;
	background-color: #9ec231;
	margin-top: 38px;
	z-index: -5;
}

.underline2{
	position: absolute;
	width: 250px;
	height: 25px;
	background-color: #e32526;
	margin-top: -20px;
    margin-left: -50px;
	z-index: -5;
}

.underline2Bis{
	position: absolute;
	width: 350px;
	height: 25px;
	background-color: #e32526;
	margin-top: -70px;
	margin-left: 20px;
	z-index: -5;
}
.underline3{
	position: absolute;
	width: 350px;
	height: 25px;
	background-color: #e32526;
	margin-top: -20px;
	margin-left: 20px;
	z-index: -5;
}
.underline4{
	position: absolute;
	width: 300px;
	height: 25px;
	background-color: #e32526;
	margin-top: -20px;
/*	margin-left: -30px;*/
	z-index: -5;
}
#flbas,#flhaut{
	display: none;
	}


#section1 > nav{
	font-size: 17px;
    margin-right: auto;
	margin-left: auto;
	line-height: 155%;
}	
#section3 > nav{
	font-size: 15px;
    line-height: 138%;
	margin-right: 10px;
	margin-left: 10px;
}	
	
#section2 li{
	font-size: 17px;
	line-height: 138%;
}
	
#design h4{
	font-size: 19px;
	text-align: left;
	padding-bottom: 10px;
}	
#section4 > nav{
	font-size: 19px;
    margin: auto;
}
#section4a{
	text-align: center;
}
#section0 nav{
	font-size: 26px;
	line-height: 135%;
	color: #c02511;
	text-align: justify;
}

#section3 > nav{
   font-size: 16px;
    line-height: 135%;
	text-align: center;
}
.gallerie, .gallerie2{
	display: flex;
	flex-direction:column;
	justify-content: center;
	}
.museeTitre p{
	font-size: 1em;
	text-align: center;
    
    margin-right: 20px;
/*
    margin-left: 0;
    
*/
}	
.museeTitre{
/*    grid-column: span 1;*/
    width: 275px;
    align-items: center;
    
}	
	
	
#g4, #g5{
	width: 290px;
	height: 175px;
	border: 1px solid red;
	margin: 6%;
}
#section6{
	text-align: center;
	font-size: 25px;
	
}
	
#section6 a{
	font-size: 22px;
	line-height: 220%;
	text-align: right;
	color: #e32526;
	margin-left: 10%;
	
}
#section6 img{
	width: 30px;
    height: auto;
	padding: 0px;
}
#g4 > a {
		display: none;
	}
	#container, .slide{
		display: none;
	}
}


